/vendor/
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
/public/storage/*
/public/images/*
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
last_index.txt


.DS_Store
